/Spheres/Temp
/Spheres/Library
/Spheres/*.csproj
/Spheres/*.sln
/Spheres/*.userprefs
/Spheres/*.exe
/Spheres/Test_Data
/Triangle.NET/Temp
/Triangle.NET/Library
/Triangle.NET/*.sln
/Triangle.NET/*.csproj
/Triangle.NET/*.suo
